.button {
  border-radius: 6px;
  height: 48px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  font-family: var(--font-body);
  outline: none;
  border: none;
  cursor: pointer;

  &.primary {
    background: var(--primary-purple);
    color: var(--primary-white);
  }

  &.secondary {
    border: 1.55px solid rgba(245, 244, 250, 0.5);
    background: transparent;
  }

  &:hover {
    opacity: 0.6;
    text-decoration: none;
  }
}
