@import "../../../styles/variables";
@import "bootstrap/scss/mixins";

.footer {
  padding: var(--spacer-5);
  max-width: 1512px;
  margin: auto;

  @include media-breakpoint-down(md) {
    padding: var(--spacer-5) 50px 51px;
  }

  &__content {
    display: flex;
    margin-top: var(--spacer-3);
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
      margin-top: var(--spacer-4);
    }
  }

  p {
    @include media-breakpoint-down(md) {
      max-width: 200px;

      span:first-of-type {
        display: none;
      }
    }

    span:nth-of-type(2) {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__links {
    display: flex;
    gap: 20px;

    @include media-breakpoint-down(lg) {
      margin-bottom: var(--spacer-4);
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      gap: var(--spacer-1);
    }
  }
}
