.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  font-family: var(--font-plex-mono) !important;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-white);

  &:hover {
    text-decoration: none;
  }
}
