@import "../../../../styles/variables";
@import "bootstrap/scss/mixins";

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.section {
  background: rgba(39, 35, 47, 0.4);
  padding-top: var(--spacer-8);

  @include media-breakpoint-down(md) {
    padding-top: var(--spacer-5);
  }

  &__code {
    font-family: var(--font-plex-mono);
    position: absolute;
    top: var(--spacer-8);
    color: var(--primary-body);
    left: 56px;
    font-size: 1.25rem;
    font-weight: 500;

    span {
      animation: blink 1s steps(1, end) infinite;
    }

    @include media-breakpoint-down(lg) {
      top: var(--spacer-6);
    }

    @include media-breakpoint-down(md) {
      top: var(--spacer-10);
      left: var(--spacer-10);
      font-size: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
      top: var(--spacer-9);
      left: 112px;
    }

    @media (max-width: 390px) {
      top: var(--spacer-7);
    }
  }

  h2 {
    font-size: 3rem !important;
    max-width: 600px;
    text-align: center;
    margin: auto;

    @include media-breakpoint-down(md) {
      font-size: 34px !important;
    }
  }

  p {
    margin: 34px auto 38px;
    max-width: 632px;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin: var(--spacer-2) auto var(--spacer-4);
      font-size: 1.125rem !important;
    }
  }

  img {
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(md) {
      padding-left: 52px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacer-4);
    padding-bottom: var(--spacer-5);

    @include media-breakpoint-down(md) {
      padding-bottom: 56px;
      gap: var(--spacer-2);
    }
  }
}
