.layout,
main.layout {
  display: flex;
  flex-direction: column;
}
body:has(.layout) {
  background-color: var(--primary-dark);
  color: var(--primary-body);
}

.container-wide {
  @include make-container(48px);
  @include media-breakpoint-up(xl) {
    max-width: 1512px !important;
    padding: 0px 148px !important;
    margin: 0px auto;
  }
  @include media-breakpoint-down(xl) {
    max-width: 100%;
    padding: 0px 40px !important;
  }

  @include media-breakpoint-down(md) {
    padding: 0px var(--spacer-3) !important;
  }
}

.container {
  @include make-container(48px);
  @include media-breakpoint-up(xl) {
    max-width: 754px !important;
    padding: 0px 148px;
    margin: 0px auto;
  }

  @media (max-width: 1511px) {
    margin: 0px;
  }

  @include media-breakpoint-down(xl) {
    max-width: 100%;
    padding: 0px 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px var(--spacer-3) !important;
  }
}
