@import "./variables";
@import "./bootstrap";
@import "./spacers";
@import "./fonts";
@import "./colors";
@import "./layout";

body {
  background: var(--primary-black);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button {
    color: var(--primary-body);
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}
