@import "../../../../styles/variables";
@import "bootstrap/scss/mixins";

.features {
  margin-bottom: 56px;

  @include media-breakpoint-down(md) {
    margin-bottom: 60px;
  }

  &__title {
    text-align: center;
    margin-bottom: 86px !important;
    font-size: 40px !important;

    @include media-breakpoint-down(md) {
      font-size: 2rem !important;
    }
  }

  &__col {
    &:first-child {
      h3 {
        max-width: 141px;
      }
    }
  }

  &__feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
    width: 100%;

    @include media-breakpoint-down(md) {
      background: rgba(39, 35, 47, 0.6);
      border-radius: 8px;
      padding: 34px var(--spacer-3) var(--spacer-4);
      margin-bottom: var(--spacer-2);

      &_icon {
        background: var(--primary-black);
      }
    }

    &_icon {
      width: 72px;
      height: 72px;
      border-radius: 50px;
      background: rgba(39, 35, 47, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 22px;
    }

    h3 {
      max-width: 250px;
      text-align: center;
    }
  }
}
