@import "../../../../styles/variables";
@import "bootstrap/scss/mixins";

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.hero {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1050px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: var(--spacer-5);
  }

  @include media-breakpoint-down(md) {
    margin-top: var(--spacer-1);
  }

  &__image {
    width: 758px;
    height: 489px;

    @media (max-width: 1511px) {
      width: 650px;
      height: 450px;
    }

    @media (max-width: 1400px) {
      width: 550px;
      height: 400px;
    }

    @media (max-width: 1310px) {
      width: 450px;
      height: 340px;
    }

    @media (max-width: 1050px) {
      width: 100%;
      height: 100%;
      padding: 0px 40px;
      object-fit: contain;
      border-radius: 8px;
      margin-bottom: var(--spacer-4);
    }

    @include media-breakpoint-down(md) {
      padding: 0px var(--spacer-3);
    }
  }

  &__content {
    padding-left: 148px;
    max-width: 520px;

    &_buttons {
      display: flex;
      gap: 33px;

      @include media-breakpoint-down(md) {
        gap: var(--spacer-2);
      }
    }

    &_title {
      width: 415px;
      margin-bottom: var(--spacer-3);

      @media (max-width: 1050px) {
        width: 100%;
      }

      @include media-breakpoint-down(md) {
        font-size: 40px !important;
      }
    }

    &_text {
      width: 520px;
      margin-bottom: 38px;

      @media (max-width: 1050px) {
        width: 100%;
      }

      @include media-breakpoint-down(md) {
        font-size: 1rem !important;
        margin-bottom: var(--spacer-4);
      }
    }
  }

  code {
    font-family: var(--font-plex-mono);
    position: absolute;
    top: var(--spacer-9);
    color: var(--primary-body);
    left: 56px;
    font-size: 1.25rem;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(54, 23, 137, 0.7);

    span {
      animation: blink 1s steps(1, end) infinite;
    }

    @media (max-width: 1400px) {
      top: var(--spacer-8);
    }

    @media (max-width: 1051px) {
      top: var(--spacer-9);
      left: var(--spacer-9);
    }

    @include media-breakpoint-down(elg) {
      top: var(--spacer-8);
      left: var(--spacer-8);
    }

    @include media-breakpoint-down(sm) {
      top: 56px;
      left: 60px;
      font-size: 14px;
    }
  }
}
